{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <nav class="navbar">

        <div class="logo">

            <i class="fa-solid fa-trophy"></i>

            <span>HippoTrack</span>

        </div>

        <ul class="nav-links">
            <li>

                <a href="{% url 'registro' %}">

                    <i class="fa-solid fa-user-plus"></i>

                    Register

                </a>

            </li>

            <li>
                <a href="{% url 'index' %}">
                    Back
                </a>
            </li>
            
        </ul>
    </nav>

    <div class="login-box">

        <h1>Sign In</h1>


        {% if messages %}

        {% for message in messages %}

        {% if message.tags == 'error' %}

        <div class="mensaje-error">

            {{ message }}

        </div>

        {% endif %}

        {% endfor %}

        {% endif %}


        <form method="POST">

            {% csrf_token %}

            <input type="email" name="correo" placeholder="Email address" required>

            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">
                Sign In
            </button>

        </form>

    </div>

</body>

</html>