
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Registro</title>

    <link rel="stylesheet"
          href="{% static 'css/registro.css' %}">

</head>

<body>

<div class="registro-box">

    <h1>Registro</h1>

    <form method="POST">

        {% csrf_token %}

        <input type="text"
               name="username"
               placeholder="Usuario"
               required>

        <input type="email"
               name="email"
               placeholder="Correo"
               required>

        <input type="password"
               name="password"
               placeholder="Contraseña"
               required>

        <input type="text"
               name="apellidos"
               placeholder="Apellidos"
               required>

        <input type="date"
               name="fecha_nac"
               required>

        <input type="text"
               name="dni"
               placeholder="DNI"
               required>

        <button type="submit">
            Registrarse
        </button>

    </form>

</div>

</body>

</html>

